   <div class="pq-breadcrumb" style="background-image:url('/images/blog/Breadcamp-image.jpg');">
      <div class="container">
         <div class="row align-items-center">
            <div class="col-lg-8">
               <nav aria-label="breadcrumb">
                  <!-- <div class="pq-breadcrumb-title">
                     <h1>{{ title }}</h1>
                  </div> -->
               </nav>
            </div>
            <div class="col-lg-4">
               <div class="pq-breadcrumb-img text-right wow fadeInRight"></div>
            </div>
         </div>
      </div>
   </div>

<section class="porfolio">
      <div class="container">
         <div class="row">
            <div class="col-lg-8">
               <!-- <div class="pq-portfolio-single-img">
                  <img src="{{  feture_image }}"  alt="{{ feture_image:alt }}">
               </div> -->
               <div class="pq-portfolio-single-detail">
                  <h4 class="pq-portfolio-single-title">{{ title }}</h4>
                  <p class="pq-portfolio-single-discription">{{ content }}</p>
               </div>
            </div>
            <div class="col-lg-4">
               <div class="pq-portfolio-info-box">
                  
                  <div class="pq-porfolio-info">
                     <ul class="pq-info-list">
                        <li>
                           <h5>Fecha</h5>
                           <span>{{ date }}</span>
                        </li>
                        <li>
                           <h5>Autor</h5>
                           <span>{{ author }}</span>
                        </li>
                        <li>
                           <h5>Categoria</h5>
                           {{ tipos }}
                           <span>{{ title }}/ </span>
                           {{ /tipos }}
                        </li>
                            
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <!-- <div class="row">
            <div class="col-lg-12">
               <div class="pq-portfolio-single-detail">
                  <h4 class="pq-portfolio-single-title">{{ title }}</h4>
                  <p class="pq-portfolio-single-discription">{{ content }}</p>
               </div>
            </div>
         </div> -->
      </div>
   </section>