
   <!-- <contact-form-start> -->
   <section class="">
      <div class="container">
        <div class="pq-section-title-style-1 text-center">
                  <span class="pq-section-sub-title">Ponte en contacto</span>
                  <h5 class="pq-section-title">Agenda una cita</h5>
        </div>
         <div class="row">
            <div class="col-lg-6">
                  <div class="pq-map">
                     <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3198.1366184499616!2d-4.4328568!3d36.71928!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd72f7984596c30d%3A0xf877f82b1809e878!2zQy4gRG9uIFJpY2FyZG8sIDIsIDLCumMsIDI5MDA3IE3DoWxhZ2EsIFNwYWlu!5e0!3m2!1sen!2sve!4v1684000163985!5m2!1sen!2sve" 
                     width="550" height="300" 
                     style="border:0;" 
                     allowfullscreen="" 
                     loading="lazy" 
                     referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </div>
            </div>
            <div class="col-lg-6 ps-xl-6">
               <div class="pq-section-title-style-1 ">
                  
                  
               </div>
               <p>WS: <a href="https://wa.me/34662475552" target="_blank" rel="noopener noreferrer">+34 662 475 552</a></p>
               <p>IG: <a href="http://www.instagram.com/nutrimed_nutrimed" target="_blank" rel="noopener noreferrer">@nutrimed_nutrimed</a></p>
               <p>FB: <a href="https://www.facebook.com/NutriMED.NutriMED/" target="_blank" rel="noopener noreferrer">NutriMED.NutriMED</a></p>
               <p>Email: <a href="mailto:servicios.nutrimed@gmail.com">servicios.nutrimed@gmail.com</a></p>
               <p>Dirección: C. Don Ricardo, 2, (2ºC). 29007. Málaga. (Detrás del Corte Inglés y a 5 minutos de la estación de Metro Guadalmedina)</p>               
            </div>
         </div>
      </div>
   </section>

