
   <!-- <contact-form-start> -->
   <section class="">
      <div class="container">
        <div class="pq-section-title-style-1 text-center">
                  <span class="pq-section-sub-title">Ponte en contacto</span>
                  <h5 class="pq-section-title">Agenda una cita</h5>
        </div>
         <div class="row align-items-center">
            <div class="col-lg-6">
                  <div class="pq-map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.5404230564404!2d-0.12174238407206386!3d51.5033006188236!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604b900d26973%3A0x4291f3172409ea92!2slastminute.com%20London%20Eye!5e0!3m2!1sen!2sin!4v1672909498236!5m2!1sen!2sin"
                            class="img-fluid" width="1920" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
            </div>
            <div class="col-lg-6 ps-xl-6">
               <div class="pq-section-title-style-1 ">
                  
                  
               </div>
               
               <form method="POST" action="{{ route:contact.send }}">
                  {{ csrf_field }}
                  <div class="row">
                     <div class="col-md-6">
                        <input size="40" placeholder="Nombre" type="text" name="your-name" required>
                     </div>
                     <div class="col-md-6">
                        <input size="40" placeholder="Teléfono" type="text" name="your-Subject" required>
                     </div>
                     <div class="col-md-12">
                        <input size="40" placeholder="Email" type="email" name="your-email" required>
                     </div>
                     <div class="col-md-12">
                        <input size="40" placeholder="Tema" type="text" name="Subject" required>
                     </div>
                     <div class="col-md-12">
                        <textarea cols="40" rows="10" placeholder="Mensaje" name="your-message"
                           required></textarea>
                     </div>
                     <div class="col-md-12">
                        <button class="pq-button" type="submit">Enviar</button>
                        
                     </div>
                  </div>

               <!-- {{ form:contacto js="alpine"}}
               
                  {{ if success }}
                     <div class="bg-green-300 text-white p-2">
                           {{ success }}
                     </div>
                  {{ else }}
                     {{ if errors }}
                           <div class="bg-red-300 text-white p-2">
                              {{ errors }}
                                 {{ value }}<br>
                              {{ /errors }}
                           </div>
                     {{ /if }}
               
                     {{ fields }}
                           <div class="p-2">
                              
                              <div class="p-1">{{ field }}</div>
                              {{ if error }}
                                 <p class="text-gray-500">{{ error }}</p>
                              {{ /if }}
                           </div>
                     {{ /fields }}
               
                     <input type="text" class="honeypot" name="{{ honeypot ?? 'honeypot' }}">
                     <button type="submit">Enviar</button>
                  {{ /if }}
               
               {{ /form:contacto }} -->

               </form>
            </div>
         </div>
      </div>
   </section>

