                  <nav class="navbar navbar-expand-lg navbar-light">
                     <a class="navbar-brand" href="#">
                        <img class="img-fluid logo" src="/images/header-logo/logo.png" alt="nutriMED">
                     </a>
                     <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div id="pq-menu-contain" class="pq-menu-contain">
                           <ul id="pq-main-menu" class="navbar-nav ml-auto">
                              <li class="menu-item current-menu-item">
                                 <a href="/">Inicio</a>
                              </li>
                              <li class="menu-item">
                                 <a href="#">Nutrición</a>
                                 <i class="fa fa-chevron-down pq-submenu-icon"></i>
                                    <ul class="sub-menu">
                                          <li class="menu-item "><a href="/#nutricion">Nutrición deportiva</a></li>
                                          <li class="menu-item "><a href="/#nutricion">Nutrición clínica</a></li>
                                          <li class="menu-item "><a href="/#nutricion">Análisis de la composición corporal ISAK 2</a></li>
                                          <li class="menu-item "><a href="/#nutricion">Pérdida de peso corporal</a></li>
                                          <li class="menu-item "><a href="/#nutricion">Atletas de alto rendimiento</a></li>
                                          <li class="menu-item "><a href="/#nutricion">Charlas y talleres</a></li>
                                    </ul>
                              </li> 
                              <li class="menu-item">
                                 <a href="#">Medicina</a>
                                 <i class="fa fa-chevron-down pq-submenu-icon"></i>
                                    <ul class="sub-menu">
                                          <li class="menu-item "><a href="/#medicina">Consultas médicas</a></li>
                                          <li class="menu-item "><a href="/#medicina">Enfermedades del adulto</a></li>
                                          <li class="menu-item "><a href="/#medicina">Enfermedades agudas y crónicas</a></li>
                                          <li class="menu-item "><a href="/#medicina">Enfermedades infecciosas y de transmisión sexual</a></li>
                                          <li class="menu-item "><a href="/#medicina">Evaluaciones predeportivas básicas</a></li>
                                          <li class="menu-item "><a href="/#medicina">Realización e interpretación de electrocardiogramas</a></li>
                                          <li class="menu-item "><a href="/#medicina">Solicitud y revisión de exámenes</a></li>
                                          <li class="menu-item "><a href="/#medicina">Seguimientos</a></li>
                                    </ul>
                              </li>
                              <li class="menu-item">
                                 <a href="{{ route:nosotros }}">Sobre Nosotros</a>                                 
                              </li>
                              <li class="menu-item">
                                 <a href="/recetas">Recetas</a>                                 
                              </li> 
                              <li class="menu-item">
                                 <a href="/blog">Blog</a>                                 
                              </li>
                           </ul>
                        </div>
                     </div>
                     
                     <div style="margin-left: 30px;" class="pq-button-container">
                        <a class="pq-button pq-btn-flat" href="https://wa.me/34662475552?text=Me%20gustaria%20agendar%20una%20cita" target="_blank">
                           <span class="pq-btn-text">
                              Agenda una cita
                           </span>
                           <div class="pq-btn-cover">
                              <span class="pq-btn-text pq-btn-cover-text">
                                 Agenda una cita
                              </span>
                              <div class="pq-btn-cover-bgrnd"></div>
                           </div>
                        </a>
                     </div>
                     <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-bars"></i>
                     </button>
                  </nav>