   <div class="pq-breadcrumb" style="background-image:url('images/blog/Breadcamp-image.jpg');">
      <div class="container">
         <div class="row align-items-center">
            <div class="col-lg-8">
               <nav aria-label="breadcrumb" style="min-height: 120px">
                  
               </nav>
            </div>
         </div>
      </div>
   </div>

   <!-- <contact-form-start> -->
   <section class="pq-grey-bg-color">
      <div class="container">
         <div class="row align-items-center">
            <div class="col-lg-5">
               <div class="pq-contact-img">
                  <img src="images/protfolio/6.jpg" alt="protfolio" class="img-fluid">
               </div>
            </div>
            <div class="col-lg-7 ps-xl-5">
               <div class="pq-section-title-style-1 ">
                  <span class="pq-section-sub-title">Ponte en contacto</span>
                  <h5 class="pq-section-title">Agenda una cita</h5>
                  </div>
               <form class="pq-contactform" novalidate>
                  <div class="row">
                     <div class="col-md-6">
                        <input size="40" placeholder="Nombre" type="text" name="your-name" required>
                     </div>
                     <div class="col-md-6">
                        <input size="40" placeholder="Teléfono" type="text" name="your-Subject" required>
                     </div>
                     <div class="col-md-12">
                        <input size="40" placeholder="Email" type="email" name="your-email" required>
                     </div>
                     <div class="col-md-12">
                        <input size="40" placeholder="Tema" type="text" name="Subject" required>
                     </div>
                     <div class="col-md-12">
                        <textarea cols="40" rows="10" placeholder="Mensaje" name="your-message"
                           required></textarea>
                     </div>
                     <div class="col-md-12">
                        <a href="#" class="pq-button">
                           <span class="pq-button-text">Enviar</span>
                        </a>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </section>
   <!-- <contact-form-end> -->
   <!-- <map-start> -->
   <div class="pq-map">
      <iframe
         src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.5404230564404!2d-0.12174238407206386!3d51.5033006188236!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604b900d26973%3A0x4291f3172409ea92!2slastminute.com%20London%20Eye!5e0!3m2!1sen!2sin!4v1672909498236!5m2!1sen!2sin"
         class="img-fluid" width="1920" height="450" style="border:0;" allowfullscreen="" loading="lazy"
         referrerpolicy="no-referrer-when-downgrade"></iframe>
   </div>
