
   <!-- <banner-start> -->
   <div class="banner py-0">
      <p class="rs-p-wp-fix"></p>
      <rs-module-wrap id="rev_slider_3_1_wrapper" data-alias="home-1-1" data-source="gallery"
         style="visibility:hidden;background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
         <rs-module id="rev_slider_3_1" data-version="6.6.3">
            <rs-slides style="overflow: hidden; position: absolute;">
            {{ assets container="banner"}}
               <rs-slide style="position: absolute;" data-key="rs-{{ alt }}" data-title="Slide"
                  data-thumb="{{ url }}" data-anim="adpr:false;ms:600;" data-in="o:0;"
                  data-out="a:false;">
                  <img src="{{ url }}" alt="{{ alt }}" title="1" width="1920" height="919"
                     class="rev-slidebg tp-rs-img rs-lazyload" data-lazyload="{{ url }}"
                     data-bg="p:center top;" data-no-retina>
               </rs-slide>
            {{ /assets }}
            </rs-slides>
         </rs-module>
      </rs-module-wrap>
      <!-- END REVOLUTION SLIDER -->
   </div>
   <!-- <banner-start> -->

   <!-- inicia servicios nuevos -->
   <section class="service3 pq-grey-bg-color pq-service3-main-box pt-5">
      <div class="container">

         <div class="pq-section-title-style-1 text-center mt-5">
                  <h5 id="nutricion"  class="pq-section-title">Servicios de nutrición</h5>
         </div>

         <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
               <div class="pq-fancy-box-3">
                  <div class="pq-icon">
                     <img src="/images/icons/deportiva.png" alt="Icon">
                  </div>
                  <div class="pq-right-icon">
                     <img src="/images/icons/deportiva.png" alt="Icon">
                  </div>
                  <div class="pq-fancy-box-info">
                     <h5 class="pq-fancy-box-title">Nutrición deportiva</h5>
                     <div class="pq-fancy-box-content">
                        <div class="pq-fancy-box-content">
                           <p class="pq-fancybox-description">Alineación del plan dietético-nutricional con el entrenamiento del deportista bajo el mayor profesionalismo y experiencia. Orientación nutricional trifásica (antes, durante y después de entrenamientos y competencias). Diseño de planes de hidratación, cálculos de cargas de carbohidratos, asesorías en suplementos deportivos y mucho más.</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
               <div class="pq-fancy-box-3">
                  <div class="pq-icon">
                     <img src="/images/icons/clinica.png" alt="Icon">
                  </div>
                  <div class="pq-right-icon">
                     <img src="/images/icons/clinica.png" alt="Icon">
                  </div>
                  <div class="pq-fancy-box-info">
                     <h5 class="pq-fancy-box-title">Nutrición clínica</h5>
                     <div class="pq-fancy-box-content">
                        <div class="pq-fancy-box-content">
                           <p class="pq-fancybox-description">Plan dietético-nutricional de tipo clínico para enfermedades y patologías (ejemplos: enfermedades cardiovasculares, diabetes mellitus, hipercolesterolemia, hipertrigliceridemia, hiperuricemia, patologías digestivas, alergias e intolerancias alimentarias, cirugía bariátrica, etc.). Revisión de interacciones fármaco - nutrientes. Educación nutricional.</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
               <div class="pq-fancy-box-3">
                  <div class="pq-icon">
                     <img src="/images/icons/composicion.png" alt="Icon">
                  </div>
                  <div class="pq-right-icon">
                     <img src="/images/icons/composicion.png" alt="Icon">
                  </div>
                  <div class="pq-fancy-box-info">
                     <h5 class="pq-fancy-box-title">Análisis de la composición corporal</h5>
                     <div class="pq-fancy-box-content">
                        <div class="pq-fancy-box-content">
                           <p class="pq-fancybox-description">Estudios antropométricos con metodología ISAK (medición con equipos especializados de pliegues cutáneos, circunferencias y diámetros corporales). Realización y análisis de bioimpedancias con equipos automatizados de última generación. Porcentaje de masa grasa, masa muscular, agua corporal, índice A.K.S, realización de somatocartas.</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
               <div class="pq-fancy-box-3">
                  <div class="pq-icon">
                     <img src="/images/icons/masa.png" alt="Icon">
                  </div>
                  <div class="pq-right-icon">
                     <img src="/images/icons/masa.png" alt="Icon">
                  </div>
                  <div class="pq-fancy-box-info">
                     <h5 class="pq-fancy-box-title">Pérdida de peso y ganancia de masa muscular</h5>
                     <div class="pq-fancy-box-content">
                        <div class="pq-fancy-box-content">
                           <p class="pq-fancybox-description">Plan dietético-nutricional individualizado para pérdida de masa grasa y/o aumento de masa muscular. Es conocido ampliamente el enorme beneficio para la calidad de vida, salud física, emocional motivacional, en la autoestima, confianza, sexualidad y muchas cosas más, de una composición corporal adecuada que sin duda está a tu alcance.</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
               <div class="pq-fancy-box-3">
                  <div class="pq-icon">
                     <img src="/images/icons/alto-rend.png" alt="Icon">
                  </div>
                  <div class="pq-right-icon">
                     <img src="/images/icons/alto-rend.png" alt="Icon">
                  </div>
                  <div class="pq-fancy-box-info">
                     <h5 class="pq-fancy-box-title">Atletas de alto rendimiento y equipos deportivos</h5>
                     <div class="pq-fancy-box-content">
                        <div class="pq-fancy-box-content">
                           <p class="pq-fancybox-description">Manejo dietético-nutricional individualizado para atletas de alto rendimiento y/o equipos deportivos (fútbol, baloncesto, natación, triatlón, tenis, pádel, atletismo, remo, etc.) aplicando controles antropométricos, metodología ISAK, bioimpedancias, somatocartas individuales y grupales para determinación de efectividad y rendimiento en el tiempo.</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
               <div class="pq-fancy-box-3">
                  <div class="pq-icon">
                     <img src="/images/icons/charlas.png" alt="Icon">
                  </div>
                  <div class="pq-right-icon">
                     <img src="/images/icons/charlas.png" alt="Icon">
                  </div>
                  <div class="pq-fancy-box-info">
                     <h5 class="pq-fancy-box-title">Asesorías, charlas y conferencias</h5>
                     <div class="pq-fancy-box-content">
                        <div class="pq-fancy-box-content">
                           <p class="pq-fancybox-description">Asesorías, charlas, conferencias y talleres especialmente diseñados según requerimientos. Ejemplos de temas: alimentación saludable, mitos en nutrición, nutrición según patología y/o disciplina deportiva, nutrición para el máximo rendimiento deportivo. Educación nutricional grupal. Temas diseñados con información científica actualizada y veraz.</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <div class="pq-section-title-style-1 text-center mt-4">
                  <h5 id="medicina" class="pq-section-title">Servicios de medicina</h5>
         </div>

         <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
               <div class="pq-fancy-box-3">
                  <div class="pq-icon">
                     <img src="/images/icons/consultas.png" alt="Icon">
                  </div>
                  <div class="pq-right-icon">
                     <img src="/images/icons/consultas.png" alt="Icon">
                  </div>
                  <div class="pq-fancy-box-info">
                     <h5 class="pq-fancy-box-title">Consultas médica</h5>
                     <div class="pq-fancy-box-content">
                        <div class="pq-fancy-box-content">
                           <p class="pq-fancybox-description">Abordaje, diagnóstico y tratamiento de múltiples patologías médicas con la mayor experticia y experiencia profesional. Orientación clínica desde la indagatoria de la enfermedad actual, determinación de constantes vitales, antropometría básica, pulsioximetría, exploración física, diagnóstico, solicitud de estudios adicionales de ser necesario, plan terapéutico.

(Nota: todas las analíticas, estudios radiológicos y estudios especializados se le prescriben al paciente durante la consulta).</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
               <div class="pq-fancy-box-3">
                  <div class="pq-icon">
                     <img src="/images/icons/cronicas.png" alt="Icon">
                  </div>
                  <div class="pq-right-icon">
                     <img src="/images/icons/cronicas.png" alt="Icon">
                  </div>
                  <div class="pq-fancy-box-info">
                     <h5 class="pq-fancy-box-title">Enfermedades del adulto (agudas y crónicas)</h5>
                     <div class="pq-fancy-box-content">
                        <div class="pq-fancy-box-content">
                           <p class="pq-fancybox-description">Abordaje, diagnóstico y tratamiento de enfermedades propias del adulto, tanto agudas (ejemplos: infecciones de cualquier índole, dolores, afecciones, etc.) como crónicas, incluyendo patologías de base (hipertensión arterial, diabetes, tiroides, elevación de colesterol, triglicéridos, ácido úrico, resistencia a la insulina, etc.).

(Nota: todas las analíticas, estudios radiológicos y estudios especializados se le prescriben al paciente durante la consulta).</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
               <div class="pq-fancy-box-3">
                  <div class="pq-icon">
                     <img src="/images/icons/ets.png" alt="Icon">
                  </div>
                  <div class="pq-right-icon">
                     <img src="/images/icons/ets.png" alt="Icon">
                  </div>
                  <div class="pq-fancy-box-info">
                     <h5 class="pq-fancy-box-title">Enfermedades infecciosas y de transmisión sexual</h5>
                     <div class="pq-fancy-box-content">
                        <div class="pq-fancy-box-content">
                           <p class="pq-fancybox-description">Abordaje, diagnóstico y tratamiento de enfermedades infecciosas (virales, bacterianas, micóticas, parasitarias). Ejemplos: infecciones respiratorias (amigdalitis, otitis, bronquitis), urinarias (uretritis, cistitis, infecciones recurrentes), digestivas (diarreas, gastroenteritis), cutáneas (hongos, escabiosis), de transmisión sexual (sífilis, gonorrea), etc.

(Nota: todas las analíticas, estudios radiológicos y estudios especializados se le prescriben al paciente durante la consulta).</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
               <div class="pq-fancy-box-3">
                  <div class="pq-icon">
                     <img src="/images/icons/metabolica.png" alt="Icon">
                  </div>
                  <div class="pq-right-icon">
                     <img src="/images/icons/metabolica.png" alt="Icon">
                  </div>
                  <div class="pq-fancy-box-info">
                     <h5 class="pq-fancy-box-title">Evaluaciones cardio-metabólicas</h5>
                     <div class="pq-fancy-box-content">
                        <div class="pq-fancy-box-content">
                           <p class="pq-fancybox-description">Perfil cardio-metabólico: determinación de constantes vitales, antropometría básica, pulsioximetría, exploración física, analíticas, pruebas hormonales, niveles séricos de vitaminas y minerales, rayos X, realización e interpretación de electrocardiograma. Opcionales: ecocardiogramas, pruebas de esfuerzo, espirometrías, otros.

(Nota: todas las analíticas, estudios radiológicos y estudios especializados se le prescriben al paciente durante la consulta).</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
               <div class="pq-fancy-box-3">
                  <div class="pq-icon">
                     <img src="/images/icons/predeportiva.png" alt="Icon">
                  </div>
                  <div class="pq-right-icon">
                     <img src="/images/icons/predeportiva.png" alt="Icon">
                  </div>
                  <div class="pq-fancy-box-info">
                     <h5 class="pq-fancy-box-title">Evaluaciones pre-deportivas básicas</h5>
                     <div class="pq-fancy-box-content">
                        <div class="pq-fancy-box-content">
                           <p class="pq-fancybox-description">Perfil pre-deportivo (aptitud para la actividad y/o disciplina correspondiente): determinación de constantes vitales, antropometría básica, pulsioximetría, exploración física, realización e interpretación de electrocardiograma. Opcionales: analíticas, rayos X, ecocardiogramas, pruebas de esfuerzo, espirometrías, otros.

(Nota: todas las analíticas, estudios radiológicos y estudios especializados se le prescriben al paciente durante la consulta).</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
               <div class="pq-fancy-box-3">
                  <div class="pq-icon">
                     <img src="/images/icons/examenes.png" alt="Icon">
                  </div>
                  <div class="pq-right-icon">
                     <img src="/images/icons/examenes.png" alt="Icon">
                  </div>
                  <div class="pq-fancy-box-info">
                     <h5 class="pq-fancy-box-title">Chequeos y exámenes tutoriales preventivos</h5>
                     <div class="pq-fancy-box-content">
                        <div class="pq-fancy-box-content">
                           <p class="pq-fancybox-description">Perfil de chequeo preventivo (según sexo y edad): constantes vitales, antropometría básica, pulsioximetría, exploración física, analíticas, pruebas hormonales, niveles séricos de vitaminas y minerales, rayos X, realización e interpretación de electrocardiograma. Opcionales: perfil prostático, ecocardiogramas, pruebas de esfuerzo, espirometrías, otros. (Nota: todas las analíticas, estudios radiológicos y estudios especializados se le prescriben al paciente durante la consulta).</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <div class="row justify-content-center mt-4">
            <div class="col-lg-4 col-md-6">
               <div class="pq-fancy-box-3">
                  <div class="pq-icon">
                     <img src="/images/icons/cardiograma.png" alt="Icon">
                  </div>
                  <div class="pq-right-icon">
                     <img src="/images/icons/cardiograma.png" alt="Icon">
                  </div>
                  <div class="pq-fancy-box-info">
                     <h5 class="pq-fancy-box-title">Realización e interpretación de electrocardiogramas</h5>
                     <div class="pq-fancy-box-content">
                        <div class="pq-fancy-box-content">
                           <p class="pq-fancybox-description">Realización e interpretación de electrocardiogramas de 12 derivaciones. Detección de trastornos del ritmo y de la conducción cardíaca (arritmias, taquicardias, bradicardias, fibrilaciones, bloqueos, etc.). Se realiza con propósitos preventivos, de diagnóstico precoz e inicio de tratamiento oportuno y para seguimiento de condiciones ya adquiridas.
 
(Nota: los electrocardiogramas se realizan directamente en la consulta por un costo adicional a la misma).</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
               <div class="pq-fancy-box-3">
                  <div class="pq-icon">
                     <img src="/images/icons/revision.png" alt="Icon">
                  </div>
                  <div class="pq-right-icon">
                     <img src="/images/icons/revision.png" alt="Icon">
                  </div>
                  <div class="pq-fancy-box-info">
                     <h5 class="pq-fancy-box-title">Solicitud y revisión de exámenes / Recetas</h5>
                     <div class="pq-fancy-box-content">
                        <div class="pq-fancy-box-content">
                           <p class="pq-fancybox-description">Prescripción, revisión e interpretación de exámenes, aclarando dudas al paciente en cuanto a los parámetros obtenidos, potenciales diagnósticos asociados y tratamiento correspondiente de ser necesario. Monitoreo de analíticas a lo largo del tiempo hasta el control y/o reversión de la patología. Prescripción de recetas.

(Nota: todas las analíticas, estudios radiológicos y estudios especializados se le prescriben al paciente durante la consulta).</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
               <div class="pq-fancy-box-3">
                  <div class="pq-icon">
                     <img src="/images/icons/seguimientos.png" alt="Icon">
                  </div>
                  <div class="pq-right-icon">
                     <img src="/images/icons/seguimientos.png" alt="Icon">
                  </div>
                  <div class="pq-fancy-box-info">
                     <h5 class="pq-fancy-box-title">Seguimientos</h5>
                     <div class="pq-fancy-box-content">
                        <div class="pq-fancy-box-content">
                           <p class="pq-fancybox-description">Consultas sucesivas de pacientes hasta el control y/o resolución de su patología, condición y/o enfermedad. Seguimiento estrecho de enfermedades crónicas que requieran vigilancia y/o control permanente, monitorización del estado de salud y respuesta al tratamiento, control de analíticas, prescripción de recetas.

(Nota: todas las analíticas, estudios radiológicos y estudios especializados se le prescriben al paciente durante la consulta).</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>

      </div>
   </section>
   <!-- termina servicio nuevos -->

   {{ partial:contact-form }}

   <script>
      var maxLength = 120;
      var descriptions = document.querySelectorAll('.pq-fancybox-description');

      descriptions.forEach(function(description) {
         var text = description.textContent;

         if (text.length > maxLength) {
            var shortText = text.slice(0, maxLength) + '...';
            description.textContent = shortText;

            var readMoreLink = document.createElement('a');
            readMoreLink.href = '#';
            readMoreLink.textContent = 'Ver más';
            readMoreLink.addEventListener('click', function(event) {
                  event.preventDefault();
                  description.textContent = text;
            });
            description.appendChild(readMoreLink);
         }
      });
   </script>
