
   <!-- <banner-start> -->
   <div class="banner py-0">
      <p class="rs-p-wp-fix"></p>
      <rs-module-wrap id="rev_slider_3_1_wrapper" data-alias="home-1-1" data-source="gallery"
         style="visibility:hidden;background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
         <rs-module id="rev_slider_3_1" data-version="6.6.3">
            <rs-slides style="overflow: hidden; position: absolute;">
            {{ assets container="assets"}}
               <rs-slide style="position: absolute;" data-key="rs-{{ alt }}" data-title="Slide"
                  data-thumb="{{ url }}" data-anim="adpr:false;ms:600;" data-in="o:0;"
                  data-out="a:false;">
                  <img src="{{ url }}" alt="{{ alt }}" title="1" width="1920" height="919"
                     class="rev-slidebg tp-rs-img rs-lazyload" data-lazyload="{{ url }}"
                     data-bg="p:center top;" data-no-retina>
               </rs-slide>
            {{ /assets }}
            </rs-slides>
         </rs-module>
      </rs-module-wrap>
      <!-- END REVOLUTION SLIDER -->
   </div>
   <!-- <banner-start> -->

   <!-- inicia servicios nuevos -->
   <section class="service3 pq-grey-bg-color pq-service3-main-box">
      <div class="container">

         <div class="pq-section-title-style-1 text-center">
                  <h5 id="nutricion"  class="pq-section-title">Servicios de nutrición</h5>
         </div>

         <div class="row justify-content-center">
            <div class="col-lg-3 col-md-6">
               <div class="pq-fancy-box-3">
                  <div class="pq-icon">
                     <i class=" flaticon-nutrition-4" aria-hidden="true"></i>
                  </div>
                  <div class="pq-right-icon">
                     <i class=" flaticon-nutrition-4" aria-hidden="true"></i>
                  </div>
                  <div class="pq-fancy-box-info">
                     <h5 class="pq-fancy-box-title">Nutrición deportiva</h5>
                     <div class="pq-fancy-box-content">
                        <div class="pq-fancy-box-content">
                           <p class="pq-fancybox-description">Alineación del plan de alimentación al deportista. Asesorías nutricionales antes, durante y
después de entrenamientos y competencias. Plan de hidratación, cálculos personalizados
de cargas de carbohidratos, asesorías en suplementos deportivos. Ganancia de masa
muscular, pérdida de masa grasa. Educación nutricional.</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
               <div class="pq-fancy-box-3">
                  <div class="pq-icon">
                     <i class=" flaticon-nutrition-1" aria-hidden="true"></i>
                  </div>
                  <div class="pq-right-icon">
                     <i class=" flaticon-nutrition-1" aria-hidden="true"></i>
                  </div>
                  <div class="pq-fancy-box-info">
                     <h5 class="pq-fancy-box-title">Nutrición clínica</h5>
                     <div class="pq-fancy-box-content">
                        <div class="pq-fancy-box-content">
                           <p class="pq-fancybox-description">Plan dietético nutricional de tipo clínico para enfermedades y patologías (ejemplo:
enfermedades cardiovasculares, diabetes mellitus, hipercolesterolemia, hipertrigliceridemia,
hiperuricemia, patologías digestivas, alergias e intolerancias alimentarias, cirugía bariátrica,
etc.). Revisión de interacciones fármaco - nutrientes. Educación nutricional.</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
               <div class="pq-fancy-box-3">
                  <div class="pq-icon">
                     <i class="flaticon-nutrition-2" aria-hidden="true"></i>
                  </div>
                  <div class="pq-right-icon">
                     <i class="flaticon-nutrition-2" aria-hidden="true"></i>
                  </div>
                  <div class="pq-fancy-box-info">
                     <h5 class="pq-fancy-box-title">Análisis de la composición corporal ISAK 2</h5>
                     <div class="pq-fancy-box-content">
                        <div class="pq-fancy-box-content">
                           <p class="pq-fancybox-description">Estudios antropométricos con metodología ISAK (medición con equipos especializados de
pliegues cutáneos, circunferencias y diámetros corporales). Realización y análisis de
bioimpedancias con equipos automatizados de última generación. Cálculo de porcentaje de
grasa, masa muscular, masa grasa, agua corporal, índice A.K.S, realización de
somatocartas.</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
               <div class="pq-fancy-box-3">
                  <div class="pq-icon">
                     <i class="flaticon-nutrition-7" aria-hidden="true"></i>
                  </div>
                  <div class="pq-right-icon">
                     <i class="flaticon-nutrition-7" aria-hidden="true"></i>
                  </div>
                  <div class="pq-fancy-box-info">
                     <h5 class="pq-fancy-box-title">Pérdida de peso corporal</h5>
                     <div class="pq-fancy-box-content">
                        <div class="pq-fancy-box-content">
                           <p class="pq-fancybox-description">Plan dietético-nutricional individualizado para pérdida de masa grasa o aumento de masa
muscular.</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <div class="row justify-content-center">
            <div class="col-lg-3 col-md-6">
               <div class="pq-fancy-box-3">
                  <div class="pq-icon">
                     <i class="flaticon-nutrition-6" aria-hidden="true"></i>
                  </div>
                  <div class="pq-right-icon">
                     <i class="flaticon-nutrition-6" aria-hidden="true"></i>
                  </div>
                  <div class="pq-fancy-box-info">
                     <h5 class="pq-fancy-box-title">Atletas de alto rendimiento</h5>
                     <div class="pq-fancy-box-content">
                        <div class="pq-fancy-box-content">
                           <p class="pq-fancybox-description">Manejo dietético-nutricional individualizado para atletas de alto rendimiento y/o equipos
deportivos (fútbol, baloncesto, natación, triatlón, tenis, atletismo, etc.) aplicando controles
antropométricos, metodología ISAK, bioimpedancias, somatocartas individuales y grupales
para determinación de efectividad y rendimiento en el tiempo.</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
               <div class="pq-fancy-box-3">
                  <div class="pq-icon">
                     <i class="flaticon-nutrition-1" aria-hidden="true"></i>
                  </div>
                  <div class="pq-right-icon">
                     <i class="flaticon-nutrition-1" aria-hidden="true"></i>
                  </div>
                  <div class="pq-fancy-box-info">
                     <h5 class="pq-fancy-box-title">Charla y talleres</h5>
                     <div class="pq-fancy-box-content">
                        <div class="pq-fancy-box-content">
                           <p class="pq-fancybox-description">Charlas y talleres especialmente diseñados según requerimientos. Alimentación saludable,
mitos en nutrición, pautas nutricionales básicas generales, según patología y/o disciplina
deportiva. Educación nutricional grupal.</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <div class="pq-section-title-style-1 text-center mt-4">
                  <h5 id="medicina" class="pq-section-title">Servicios de medicina</h5>
         </div>

         <div class="row justify-content-center">
            <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
               <div class="pq-fancy-box-3">
                  <div class="blue pq-icon">
                     <img width="65px" src="/images/icons/consultation.svg" alt="Icon">
                  </div>
                  <div class="blue pq-right-icon">
                     <img width="100px" src="/images/icons/consultation.svg" alt="Icon">
                  </div>
                  <div class="pq-fancy-box-info">
                     <h5 class="pq-fancy-box-title">Consultas médicas</h5>
                     <div class="pq-fancy-box-content">
                        <div class="pq-fancy-box-content">
                           <p class="pq-fancybox-description">Abordaje de múltiples patologías médicas con la mayor experticia y experiencia profesional.</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>            
            <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
               <div class="pq-fancy-box-3">
                  <div class="blue pq-icon">
                     <img width="65px" src="/images/icons/vaccine.svg" alt="Icon">
                  </div>
                  <div class="blue pq-right-icon">
                     <img width="100px" src="/images/icons/vaccine.svg" alt="Icon">
                  </div>
                  <div class="pq-fancy-box-info">
                     <h5 class="pq-fancy-box-title">Enfermedades del adulto</h5>
                     <div class="pq-fancy-box-content">
                        <div class="pq-fancy-box-content">
                           <p class="pq-fancybox-description">Diagnóstico, tratamiento de enfermedades propias del adulto, tanto agudas (ejemplo:
infecciones, dolores, etc.) como crónicas; incluyendo patologías de base (hipertensión
arterial, diabetes, tiroides, dislipidemias, etc.).</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
               <div class="pq-fancy-box-3">
                  <div class="blue pq-icon">
                     <img width="65px" src="/images/icons/ribbon.svg" alt="Icon">
                  </div>
                  <div class="blue pq-right-icon">
                     <img width="100px" src="/images/icons/ribbon.svg" alt="Icon">
                  </div>
                  <div class="pq-fancy-box-info">
                     <h5 class="pq-fancy-box-title">Enfermedades infecciosas y de transmisión sexual</h5>
                     <div class="pq-fancy-box-content">
                        <div class="pq-fancy-box-content">
                           <p class="pq-fancybox-description">Diagnóstico y tratamiento de enfermedades infecciosas de cualquier índole, virales,
bacterianas, micóticas, etc. (ejemplo: urinarias, de transmisión sexual, respiratorias,
digestivas, cutáneas.).</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
               <div class="pq-fancy-box-3">
                  <div class="blue pq-icon">
                     <img width="65px" src="/images/icons/consultation.svg" alt="Icon">
                  </div>
                  <div class="blue pq-right-icon">
                     <img width="100px" src="/images/icons/consultation.svg" alt="Icon">
                  </div>
                  <div class="pq-fancy-box-info">
                     <h5 class="pq-fancy-box-title">Evaluaciones cardio metabólicas</h5>
                     <div class="pq-fancy-box-content">
                        <div class="pq-fancy-box-content">
                           <p class="pq-fancybox-description">Realización de evaluaciones cardio-metabólicas, consistentes en determinación de
constantes vitales, antropometría básica, pulsioximetría, examen físico, solicitud de
analíticas sanguíneas, orina, pruebas hormonales, niveles séricos de vitaminas, realización
e interpretación de electrocardiograma.
Opcionales: ecocardiogramas, pruebas de esfuerzo (ergometría), espirometrías, otros.
(Nota: todas las analíticas, estudios radiológicos y estudios especializados se le solicitan al
paciente durante la primera consulta).</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <div class="row justify-content-center mt-4">
            <div class="col-lg-3 col-md-6">
               <div class="pq-fancy-box-3">
                  <div class="blue pq-icon">
                     <img width="65px" src="/images/icons/cardio.svg" alt="Icon">
                  </div>
                  <div class="blue pq-right-icon">
                     <img width="100px" src="/images/icons/cardio.svg" alt="Icon">
                  </div>
                  <div class="pq-fancy-box-info">
                     <h5 class="pq-fancy-box-title">Realización e interpretación de electrocardiogramas</h5>
                     <div class="pq-fancy-box-content">
                        <div class="pq-fancy-box-content">
                           <p class="pq-fancybox-description">tiene como objetivo principal optimizar el rendimiento del entrenamiento físico, 
                              así como también acelerar la recuperación tras el desgaste físico.</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
               <div class="pq-fancy-box-3">
                  <div class="blue pq-icon">
                     <img width="65px" src="/images/icons/dumbbell.svg" alt="Icon">
                  </div>
                  <div class="blue pq-right-icon">
                     <img width="100px" src="/images/icons/dumbbell.svg" alt="Icon">
                  </div>
                  <div class="pq-fancy-box-info">
                     <h5 class="pq-fancy-box-title">Evaluaciones pre-deportivas básicas</h5>
                     <div class="pq-fancy-box-content">
                        <div class="pq-fancy-box-content">
                           <p class="pq-fancybox-description">Realización de perfiles pre-deportivos para determinar aptitud para la actividad,
consistentes en determinación de constantes vitales, antropometría básica, pulsioximetría,
examen físico, solicitud de analíticas sanguíneas básicas, orina, realización e interpretación
de electrocardiograma.
Opcionales: ecocardiogramas, pruebas de esfuerzo (ergometría), espirometrías, otros.
(Nota: todas las analíticas, estudios radiológicos y estudios especializados se le solicitan al
paciente durante la primera consulta).</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
               <div class="pq-fancy-box-3">
                  <div class="blue pq-icon">
                     <img width="65px" src="/images/icons/blood-test.svg" alt="Icon">
                  </div>
                  <div class="blue pq-right-icon">
                     <img width="100px" src="/images/icons/blood-test.svg" alt="Icon">
                  </div>
                  <div class="pq-fancy-box-info">
                     <h5 class="pq-fancy-box-title">Solicitud y revisión de exámenes</h5>
                     <div class="pq-fancy-box-content">
                        <div class="pq-fancy-box-content">
                           <p class="pq-fancybox-description">Solicitud, revisión e interpretación de exámenes, con realización de diagnósticos derivados
de los mismos y tratamiento de ser necesario.</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
               <div class="pq-fancy-box-3">
                  <div class="blue pq-icon">
                     <img width="65px" src="/images/icons/document.svg" alt="Icon">
                  </div>
                  <div class="blue pq-right-icon">
                     <img width="100px" src="/images/icons/document.svg" alt="Icon">
                  </div>
                  <div class="pq-fancy-box-info">
                     <h5 class="pq-fancy-box-title">Seguimientos</h5>
                     <div class="pq-fancy-box-content">
                        <div class="pq-fancy-box-content">
                           <p class="pq-fancybox-description">Consultas sucesivas de pacientes hasta la resolución de la enfermedad. Seguimiento de
pacientes con enfermedades crónicas que requieran vigilancia y control permanente.</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- termina servicio nuevos -->

   {{ partial:contact-form }}

   <script>
      var maxLength = 120;
      var descriptions = document.querySelectorAll('.pq-fancybox-description');

      descriptions.forEach(function(description) {
         var text = description.textContent;

         if (text.length > maxLength) {
            var shortText = text.slice(0, maxLength) + '...';
            description.textContent = shortText;

            var readMoreLink = document.createElement('a');
            readMoreLink.href = '#';
            readMoreLink.textContent = 'Ver más';
            readMoreLink.addEventListener('click', function(event) {
                  event.preventDefault();
                  description.textContent = text;
            });
            description.appendChild(readMoreLink);
         }
      });
   </script>
