        <!-- Banner start-->
   <div class="pq-breadcrumb" style="background-image:url('images/blog/Breadcamp-image.jpg');">
      <div class="container">
         <div class="row align-items-center">
            <div class="col-lg-8">
               <nav aria-label="breadcrumb" style="min-height: 120px">
                  
               </nav>
            </div>
         </div>
      </div>
   </div>
   <!--=================================
         Banner end-->


<section class="about-us">
      <div class="container">
         <div class="row">
            <div class="col-lg-4 col-md-4 col-xl-4 pq-about-contain">
               <div class="pq-section-title-style-1 ">
                  <h5 class="pq-section-title">Judith Nyisztor</h5>
                  <p class="pq-section-description">Empezó como relacionista industrial y permaneció trabajando en la banca durante años sin lograr llenar completamente ese vacio vocacional que llevaba dentro. Un día, un evento destino la enfrentaría y un nuevo horizonte por conquistar apareció frente a ella: “La Nutrición Humana”. 
Fue entonces, que decidió dejarlo todo y emprender un nuevo y apasionante camino que la llevaría a decenas de aulas, universidades, distintos países y a un solo paciente: ese que siempre merece lo mejor…</p>
               </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xl-4">
               <div class="col-lg-12 col-md-12">
                     <ul class="pq-list-check pq-about-us-check">
                        <li><i aria-hidden="true" class="ion ion-checkmark-round"></i><span>Grado en Nutrición Humana y Dietética (UEM, España)</span></li>
                        <li><i aria-hidden="true" class="ion ion-checkmark-round"></i><span>MSc Nutrición Humana (USB, Venezuela)</span></li>
                        <li><i aria-hidden="true" class="ion ion-checkmark-round"></i><span>Diploma in Sport Nutrition - International Olympic Committee (IOC, Suiza)</span></li>
                        <li><i aria-hidden="true" class="ion ion-checkmark-round"></i><span>International Society Advancement Kinanthropometry - ISAK 2</span></li>
                        <li><i aria-hidden="true" class="ion ion-checkmark-round"></i><span>Especialista en Atletas de Alto Rendimiento y Manejo Nutricional de Equipos Deportivos</span></li>
                        <li><i aria-hidden="true" class="ion ion-checkmark-round"></i><span>Directora de NutriMED</span></li>
                     </ul>
               </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xl-4 ">
               <div class="pq-team-box-2 left mt-10">
                  <a class="team-inner-img"> <img src="images/About-us/jul.jpg" alt="team-image">
                  </a>
                  <div class="pq-team-info">
                     <h5 class="pq-member-name">
                        <a>Judith Nyisztore</a>
                     </h5>
                     <span class="pq-team-designation">NUTRICIONISTA</span>
                     <div class="pq-team-icons">
                        <span class="team-icon ">
                           <i class=""></i>
                        </span>
                        <ul>
                           <li>
                              <a href="#   ">
                                 <i class="fab fa-instagram"></i>
                              </a>
                           </li>
                           <li>
                              <a href="#   ">
                                 <i class="fab fa-twitter"></i>
                              </a>
                           </li>
                           <li>
                              <a href="#   ">
                                 <i class="fab fa-linkedin"></i>
                              </a>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="row mt-5">
            <div class="col-lg-4 col-md-4 col-xl-4 ">
               <div class="pq-team-box-2 left">
                  <a class="team-inner-img"> <img src="images/About-us/fed.jpg" alt="team-image">
                  </a>
                  <div class="pq-team-info">
                     <h5 class="pq-member-name">
                        <a>Federico Naranjo</a>
                     </h5>
                     <span class="pq-team-designation">MÉDICO</span>
                     <div class="pq-team-icons">
                        <span class="team-icon ">
                           <i class=""></i>
                        </span>
                        <ul>
                           <li>
                              <a href="#   ">
                                 <i class="fab fa-instagram"></i>
                              </a>
                           </li>
                           <li>
                              <a href="#   ">
                                 <i class="fab fa-twitter"></i>
                              </a>
                           </li>
                           <li>
                              <a href="#   ">
                                 <i class="fab fa-linkedin"></i>
                              </a>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>            
            <div class="col-lg-4 col-md-4 col-xl-4 pq-about-contain">
               <div class="pq-section-title-style-1 ">
                  <h5 class="pq-section-title">Federico Naranjo</h5>
                  <p class="pq-section-description">Médico venezolano con más de 20 años de experiencia en la práctica profesional, homologado en España, con postgrados en Medicina Interna, Infectología y Enfermedades Infecciosas, diplomado en Salud Ocupacional, Medicina Tropical y especializado en Urgencias y Emergencias Sanitarias. Colegiado en COMMÁLAGA como médico general. Amplia trayectoria y experiencia en hospitales públicos y privados como médico tratante, docente, especialista y director. 
La búsqueda por fortalecer su vocación como sanitario lo ha llevado a estudiar en varias universidades. Ha practicado su medicina en diferentes países y siempre dirigida a un solo paciente: ese que siempre merece lo mejor…</p>
               </div>

            </div>
            <div class="col-lg-4 col-md-4 col-xl-4">
               <div class="row g-0">
                  <div class="col-lg-12 col-md-12">
                     <ul class="pq-list-check pq-about-us-check">
                        <li><i aria-hidden="true" class="ion ion-checkmark-round"></i><span>Grado en Medicina</span></li>
                        <li><i aria-hidden="true" class="ion ion-checkmark-round"></i><span>Postgrado en Medicina Interna</span></li>
                        <li><i aria-hidden="true" class="ion ion-checkmark-round"></i><span>Postgrado en Infectología y Enfermedades Infecciosas</span></li>
                        <li><i aria-hidden="true" class="ion ion-checkmark-round"></i><span>Diplomado en Enfermedades Tropicales</span></li>
                        <li><i aria-hidden="true" class="ion ion-checkmark-round"></i><span>Diplomado en Salud Ocupacional</span></li>
                        <li><i aria-hidden="true" class="ion ion-checkmark-round"></i><span>Especializado en Urgencias y Emergencias Sanitarias</span></li>
                        <li><i aria-hidden="true" class="ion ion-checkmark-round"></i><span>Colegiado en COMMÁLAGA</span></li>
                        <li><i aria-hidden="true" class="ion ion-checkmark-round"></i><span>Director de Corporación Medisalud Integral</span></li>
                        <li><i aria-hidden="true" class="ion ion-checkmark-round"></i><span>Director de www.doctorchat.com.ve</span></li>
                     </ul>
                  </div>
               </div>
            </div>

         </div>
      </div>
   </section>

   {{ partial:contact-form }}
