   <div class="pq-breadcrumb" style="background-image:url('/images/blog/interno-nutrimed.png');
                                       height: 120px;
                                       background-position: center;
                                       background-repeat: no-repeat;
                                       background-size: cover;">
      <div class="container">
         <div class="row align-items-center">
            <div class="col-lg-8">
               <nav aria-label="breadcrumb" style="min-height: 120px">
                  
               </nav>
            </div>
         </div>
      </div>
   </div>

   <section class="3-colume-grid">
      <div class="container">
         <div class="row">
            <div class="col-xl-12">
               <div class="pq-blog pq-blog-col-3">
                  <div class="row">

                    {{ collection:blog }}

                     <div class="col-lg-4">
                        <div class="pq-blog-post pq-main-post-blog">
                           <div class="pq-post-media">
                              <img src="{{ featured_image }}" alt="pq-form-img" class="pq-post-img">
                           </div>
                           <div class="pq-blog-contain">
                              
                              <h5 class="pq-blog-title"><a href="{{ url }}">{{ title }}</a></h5>
                              <!-- <div class="pq-blog-info no-format">
                                 <p>{{ content | truncate:50}} </p>
                              </div>
                              <div class="pq-button-container">
                                 <a class="pq-button pq-btn-link" href="{{ url }}">
                                    <span class="pq-btn-text">Ver más</span>
                                 </a>
                              </div> -->
                           </div>
                        </div>
                     </div>
                    {{ /collection:blog }}
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>

   <script>
    var elements = document.querySelectorAll('.short-content');

    // Iterate over the elements
    elements.forEach(function(element) {
        // Get the current text content of the element
        var text = element.textContent;

        // Shorten the text to a specific length
        var shortenedText = text.slice(0, 50);

        // Update the text content of the element
        element.textContent = shortenedText;
    });
   </script>