
   <div class="pq-breadcrumb" style="background-image:url('images/blog/interno-nutricion.png');">
      <div class="container">
         <div class="row align-items-center">
            <div class="col-lg-8">
               <nav aria-label="breadcrumb" style="min-height: 120px">
                  
               </nav>
            </div>
         </div>
      </div>
   </div>
   <!--=================================
         Banner end-->
   <!-- <Balance Body & Mind-service-start> -->
   <section>
      <div class="container">
         <div class="row">
            <div class="col-lg-4">
               <div class="service-type service-port">
                  <div class="menu-service-menu-container">
                     <ul class="menu">
                        <li class="current_page_item">
                           <a href="{{ route:nutricion-deportiva }}">Nutrición deportiva</a>
                        </li>
                        <li>
                           <a href="{{ route:nutricion-clinica }}">Nutrición clínica</a>
                        </li>
                        <li>
                           <a href="{{ route:isak }}">Análisis de la composición corporal ISAK 2</a>
                        </li>
                        <li >
                           <a href="{{ route:perdida-peso }}">Pérdida de peso corporal</a>
                        </li>
                        <li >
                           <a href="{{ route:alto-rendimiento }}">Atletas de alto rendimiento</a>
                        </li>
                        <li>
                           <a href="{{ route:charla-talleres }}">Charlas y talleres</a>
                        </li>
                        
                     </ul>
                  </div>
               </div>

            </div>
            <div class="col-lg-8">
               <div class="pq-service-img">
                  <img src="images/service/8.jpg" alt="service" class="img-fluid">
               </div>
               <h4 class="pq-service-tittle">Nutrición deportiva</h4>
               <p class="pq-service-description">In tincidunt urna non pellentesque efficitur. Nulla ac imperdiet nisi. 
                Etiam vitae ex vel lacus bibendum elementum auctor in nisi. Suspendisse 
                aliquam tristique erat id accumsan. Proin sagittis, enim sed viverra 
                pulvinar, lorem nibh malesuada nibh, tincidunt lobortis quam 
                dui sed turpis.</p>
               
               <div class="row align-items-center">
                  <div class="col-lg-6 col-md-6">
                     <div class="pq-service-img1">
                        <img src="images/service/3.jpg" alt="service" class="img-fluid">
                     </div>
                  </div>
                  <div class="col-lg-6 col-md-6">
                     <h4 class="pq-service-tittle">Segundo titulo</h4>
                     <p>Proin sagittis, enim sed viverra 
                pulvinar, lorem nibh malesuada nibh, tincidunt lobortis quam </p>
                     <div>
                        <ul class="pq-service-list-item">
                           <li>
                              <img src="images/banner-btn.svg" alt="svg-image" width="15" height="15">
                              <span>Proin sagittis, enim sed viverra</span>
                           </li>
                           <li>
                              <img src="images/banner-btn.svg" alt="svg-image" width="15" height="15">
                              <span>pulvinar, lorem nibh malesuada nibh, tincidunt lobortis quam </span>
                           </li>
                           <li>
                              <img src="images/banner-btn.svg" alt="svg-image" width="15" height="15">
                              <span>pulvinar, lorem nibh malesuada nibh, tincidunt lobortis quam </span>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="row align-items-center flex-column-reverse flex-lg-row">
                  <div class="col-lg-6 col-md-6">
                     <h4 class="pq-service-tittle">Tercer titulo</h4>
                     <p>Proin sagittis, enim sed viverra 
                pulvinar, lorem nibh malesuada nibh, tincidunt lobortis quam </p>
                     <div>
                        <ul class="pq-service-list-item">
                           <li>
                              <img src="images/banner-btn.svg" alt="svg-image" width="15" height="15">
                              <span>Proin sagittis, enim sed viverra</span>
                           </li>
                           <li>
                              <img src="images/banner-btn.svg" alt="svg-image" width="15" height="15">
                              <span>pulvinar, lorem nibh malesuada nibh, tincidunt lobortis quam </span>
                           </li>
                           <li>
                              <img src="images/banner-btn.svg" alt="svg-image" width="15" height="15">
                              <span>pulvinar, lorem nibh malesuada nibh, tincidunt lobortis quam </span>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-lg-6 col-md-6 mt-4 mt-md-0">
                     <div class="pq-service-img1">
                        <img src="images/service/2.jpg" alt="service" class="img-fluid">
                     </div>
                  </div>
               </div>
               <div class="pq-faq2">
                  <div class="pq-faq2-info">
                     
                     <div class="pq-accordion-block mt-4">
                        <div class="pq-accordion-box 1 pq-active">
                           <div class="pq-ad-title">
                              <h4 class="ad-title-text">
                                 Primera pregunta de este tema?
                                 <i aria-hidden="true" class="ion ion-ios-arrow-down active"></i><i aria-hidden="true"
                                    class="ion ion-ios-arrow-up inactive"></i>
                              </h4>
                           </div>
                           <div class="pq-accordion-details">
                              <p class="pq-detail-text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut
                                 elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo. </p>
                           </div>
                        </div>
                        <div class="pq-accordion-box   2">
                           <div class="pq-ad-title">
                              <h6 class="ad-title-text">
                                 Segunda pregunta de este tema?
                                 <i aria-hidden="true" class="ion ion-ios-arrow-down active"></i><i aria-hidden="true"
                                    class="ion ion-ios-arrow-up inactive"></i>
                              </h6>
                           </div>
                           <div class="pq-accordion-details">
                              <p class="pq-detail-text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut
                                 elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo. </p>
                           </div>
                        </div>
                        
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>

   {{ partial:contact-form }}


